<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/object_icon"
        android:roundIcon="@mipmap/object_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Dark.NoActionBar">
        <activity android:name=".ui.auth.SignInActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".ui.auth.SignUpActivity"/>
        <activity android:name=".ui.main.MainActivity"/>
        <activity android:name=".ui.main.InfoActivity" />
        <activity android:name=".ui.auth.ForgotPasswordActivity" />
        <activity android:name=".ui.main.ModelActivity"/>
    </application>

</manifest>